/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(255, 255, 255);
}
.navbar-custom {
    background-color: rgb(18, 19, 18);
}
nav .navbar-nav li a{
    color: white !important;
    
    }
h1{
    color:white; 
}

body 
{
    background-color: rgb(109, 104, 104);
}
