img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 50%;
}

#title {
    margin-top: 3%;
}

h1 {
    font-size: 5vw;
}

#locationofweek {
    margin-top: 2%;
}

h2 {
    font-size: 2.5vw;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 600px;
    height: 4vw;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px 0;
    position: absolute;
    z-index: 0;
    bottom: 82%;
    left: 30%;
    /* margin-left: -80px; */
  }

  .popiframe {
    visibility: hidden;
    z-index: 1;
    padding: 8px 0;
    position: absolute;
    bottom: 8%;
    left: 30%;
  }

  /* Popup arrow */
  /* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  } */
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  img {
    border: 5px solid rgb(243, 237, 237);
  }